:root{
  --translacion: 1100px;
  --size: 400px;
  --time: 15s
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Courier;
}

section {
  width: 100%;
  height: 100vh;
}
/* Rotacion de la tierra alrededor del sol */
.Rotacion {
  width: 100%;
  height: 100vh;
  background-image: url(./img/6.jpg);
  background-size: cover;
}
.contenedor-rotacion {
  position: relative;
  top: 0%;
  left: 0;
  width: 100%;

}
.contenedor-rotacion__sol {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor-rotacion__sol .sol {
  width: var(--size);
  height: var(--size);
  z-index: 10;
  filter: drop-shadow(0 0 50px yellow);
  animation: animacion-rotacion-sol 10s infinite linear;
}
@keyframes animacion-rotacion-sol {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.contenedor-rotacion__tierra{
  width: 100%;
  height: 50%;
}
.contenedor-rotacion__tierra .tierra {
  width: calc(var(--size)/4);
  position: absolute;
  top: 50%;
  left: 5%;
  border-radius: 50%;
  animation: animacion-rotacion-tierra var(--time) infinite linear;
}
@keyframes animacion-rotacion-tierra {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }

  50% {
    box-shadow: 0 0 50px 10px yellow;
    transform: translateX(var(--translacion));
    filter: contrast(20%);
  }
  100% {
    transform: translateX(var( -(--translacion)));
    z-index: 20;
  }
}

  @media (max-width: 800px) {
    :root{
      --translacion: 640px;
      --time: 11s
    }
}

@media (max-width: 500px) {
  :root{
    --time: 8s;
    --translacion: 300px;
    --size: 200px
  }
}
